* {
    margin: 0;
    padding: 0;
}

body{
    min-height: 4096px;
}
footer{
    
    position: fixed;
    bottom: 0;
    width: 100%;
    background: var(--couleur);
    margin-top: 350px;
    height: 50px;
}