html {
    box-sizing: border-box;
}

*, *::after, *::before {
    box-sizing: inherit;
}

body {
    margin: 0;
}
.section{
    background-color: #88c1d0;
    margin: 10px;
    width: 100%;
    height: 100px;
}

@media screen and (min-width: 768px) {

    .section {
        
        width: calc(40% - 2 * 10px); /*Soustraction de 2*10px pour la margin a gauche et a droite de l'élément*/
        display: inline-block;
    }

    
}

@media screen and (min-width: 1600px){
    .section{
        width: 23%;
    }
}


